<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskko</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/components/taskcard.css">
  </head>

  <body>
    <%- include('./components/header.ejs') %>
      <div class="page-container">
        <%- include('./components/navbar.ejs') %>
          <main>
            <section class="search">
              <input class="search-bar" type="text" name="search-task" placeholder="Search">
              <select id="task-category">
                <option value="All">All</option>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
              </select>
            </section>

            <hr class="separator">

            <div class="task-container">
              <%- include('./components/taskcard.ejs') %>
                <%- include('./components/taskcard.ejs') %>
            </div>


            <div class="add-task">
              <span class="material-symbols-outlined add-button">
                add
              </span>
            </div>

            <%- include('./components/createTask.ejs') %>
          </main>
      </div>
  </body>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/base.js"></script>
  <script src="javascripts/taskcard.js"></script>

</html>