<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Taskko</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/components/taskcard.css">

  </head>

  <body class="theme">
    <%- include('./components/header.ejs') %>
      <div class="page-container">
        <%- include('./components/navbar.ejs') %>
          <main>
            <% if(auth){ %>
              <section class="search">
                <input class="search-bar" type="text" name="search-task" placeholder="Search">
                <select id="task-category">
                  <option value="All">All</option>
                  <option value="Work">Work</option>
                  <option value="Personal">Personal</option>
                </select>
              </section>

              <hr class="separator">


              <div class="task-container">
                <%- include('./components/taskcard.ejs') %>
                  <%- include('./components/taskcard.ejs') %>
              </div>

              <%- include('./components/createTask.ejs') %>

                <div class="add-task">
                  <span class="material-symbols-outlined add-button">
                    add
                  </span>
                </div>
                <% }else { %>
                  <%- include('./components/index.ejs') %>
                    <% } %>


          </main>
      </div>
  </body>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/base.js"></script>
  <script src="/javascripts/components/taskcard.js"></script>

</html>